/* google fonts*/
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .nanum-gothic-coding-regular {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
.open-sans-sleek {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}    
head{
    margin:0;
}
body{
    background-color:#f0e9db;
}
/* Using text-align property to center text*/
h1{
    font-size: 55px;
    margin:0;
    text-align:center;
    font-family: "Agdasima", sans-serif;
}
h2{
    text-align:center;
    font-family:"Nanum Gothic Coding", monospace;
    margin:30px;
    background-color:#d8caae;
    color:#ffffff;
}
/*Display property so that the images and text appear next to each other*/
.lionimage{
    display:inline;
  }
.liontext{
    display:inline;
    font-size:18px;
    font-family: "Open Sans", sans-serif;
    color:#f7f1d8
}
/*Extra is display:flex so that the the text and image are able to appear next to each other perfectly*/
.lion{
    display:flex;
    align-items:center;
    margin:67px;
    padding: 10px;
    background-color:#4d3e2c;
}
/*Repeating the same process for the roller coaster section*/
.rollerimage{
  display:inline;
}
.rollertext{
  display:inline;
  font-size:18px;
  font-family: "Open Sans", sans-serif;
  color:#d7dee4;
  
}
.rollercoaster{
  display:flex;
  align-items:center;
  margin:67px;
  padding:10px;
  background-color:#444a4d;
}
